<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
	<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
		SELECT
			c.nombre,
			c.documento,
			c.telefono,
			c.direccion,
			c.email,
			c.vetado,
        
			ir.id ,
			ir.fechainiciorenta ,
			ir.fechafinrenta ,
        
			i.id ,
			i.nombre ,
			i.descripcion ,
			i.fechalanzamiento ,
			i.tarifaxdia ,
			i.formatorenta ,
			i.genero ,        
			ti.id ,
			ti.descripcion 
        FROM VI_CLIENTES AS c LEFT JOIN VI_ITEMRENTADO AS ir ON c.documento=ir.CLIENTES_documento LEFT JOIN VI_ITEMS AS i ON ir.ITEMS_id=i.id LEFT JOIN VI_TIPOITEM AS ti ON i.TIPOITEM_id=ti.id
	</select>
	<select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
		SELECT
			c.nombre,
			c.documento,
			c.telefono,
			c.direccion,
			c.email,
			c.vetado,
        
			ir.id ,
			ir.fechainiciorenta ,
			ir.fechafinrenta ,
        
			i.id ,
			i.nombre ,
			i.descripcion ,
			i.fechalanzamiento ,
			i.tarifaxdia ,
			i.formatorenta ,
			i.genero ,        
			ti.id ,
			ti.descripcion
		FROM VI_CLIENTES AS c LEFT JOIN VI_ITEMRENTADO AS ir ON c.documento=ir.CLIENTES_documento LEFT JOIN VI_ITEMS AS i ON ir.ITEMS_id=i.id LEFT JOIN VI_TIPOITEM AS ti ON i.TIPOITEM_id=ti.id WHERE c.documento = #{id}
	</select>
	
	<insert id="agregarItemRentadoACliente" parameterType="map" >
		insert into VI_ITEMRENTADO(CLIENTES_documento,ITEMS_id,fechainiciorenta, fechafinrenta) values (#{idcl},#{idit},#{Fechai},#{Fechaf});
	</insert>
	<update id="vetarCliente" parameterType="map">
		update VI_CLIENTES set vetado=#{estado} where documento=#{cliente};
	</update>
	<insert id="insertarCliente" parameterType="map">
		insert into VI_CLIENTES(documento,nombre,telefono,direccion,email,vetado)
		values (#{cliente.documento},#{cliente.nombre},#{cliente.telefono},#{cliente.direccion},#{cliente.email},#{cliente.vetado});
	</insert>
	
	<resultMap type='Cliente' id='ClienteResult'>
		<id property='documento' column='documento'/>
		<result property='nombre' column='nombre'/>
		<result property='telefono' column='telefono'/>
		<result property='direccion' column='direccion'/>
		<result property='email' column='email'/>
		<result property='vetado' column='vetado'/>
		<collection property= 'rentados' ofType= 'ItemRentado' resultMap= 'edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper.ItemRentadoResult' columnPrefix='ir_'></collection>
    </resultMap>

</mapper>